@page "{boardId:int}"


<link rel="stylesheet" href="~/css/boards.css" />
@model NuTrello.Pages.BoardsModel
@{
    ViewData["Title"] = "Boards";
}

<h1>Boards</h1>

  <div class="render-list">
@* <ul class="list-group list-group-horizontal-md"> *@
@foreach (var list in @Model.lists)
{
  @* <div class="list-item">@list</div> *@
  <div class="task-items">
  <label for="task-group">@list</label>
  @* <li class="list-group-item" id="@list">@list</li> *@
  <ul class="list-group task-group">
  @foreach (var task in @Model.tasks)
  {
      if (list == task)
      {     
        <li class="list-group-item">@task</li>
      }
  }
        <button data-toggle="modal" data-target="#taskModal">Create New Task</button>
</ul>
  </div>
}
<button data-toggle="modal" data-target="#listModal">Create New List</button>
@* </ul> *@
</div>


<!-- Task Modal -->

<div class="modal fade" id="taskModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create New Task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="text" placeholder="Enter Title">
        <textarea name="task-desc" style="width:300px; height:200;" placeholder="Enter Description"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <a class="nav-link text-dark" asp-area="" asp-page="/Boards">
        <button type="submit" class="btn btn-primary" >Create Task</button>
        </a>
      </div>
    </div>
  </div>
</div>
 


 @* <form method="POST"> 
   <input type ="text" asp-for="NewTaskCreated.Title" placeholder="Task Title">
   <input type ="text" asp-for="NewTaskCreated.Description" placeholder="Description">

  <button typ ="submit"> Create new task </button>
 </form> *@
<!-- List Modal -->


<div class="modal fade" id="listModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create New List</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="text" placeholder="Enter Title">
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <a class="nav-link text-dark" asp-area="" asp-page="/Boards">
        <button type="submit" class="btn btn-primary">Create List</button>
        </a>
      </div>
    </div>
  </div>
</div>
